# Maven
**/target/

# IntelliJ IDEA
.idea/
**/.idea/
*.iml
*.iws
*.ipr

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.bak

# Archivos comprimidos
*.zip
*.rar
*.7z

# Configuraciones locales sensibles
.env